<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Daytime Prediction</title>
</head>
<body>
    <p>
        Please choose the city which you want to see the day time information for the following 16 days.
    </p>
    <ol>
        <li> <a href="/daytime/Boston"> Boston </a> </li>
        <li> <a href="/daytime/Los Angeles"> Los Angeles </a> </li>
        <li> <a href="/daytime/Miami"> Miami </a> </li>
        <li> <a href="/daytime/New York"> New York </a> </li>
        <li> <a href="/daytime/San Fransisco"> San Fransisco </a> </li>
        <li> <a href="/daytime/Washington DC"> Washington DC </a> </li>
    </ol>

    <br>
    Click <a href="/">here</a> to return.

</body>
</html>