<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Humidity Prediction</title>
</head>
<body>
    <p>
        Please choose the city which you want to see the humidity for the following 16 days.
    </p>
    <ol>
        <li> <a href="/humidity/Boston"> Boston </a> </li>
        <li> <a href="/humidity/Los Angeles"> Los Angeles </a> </li>
        <li> <a href="/humidity/Miami"> Miami </a> </li>
        <li> <a href="/humidity/New York"> New York </a> </li>
        <li> <a href="/humidity/San Fransisco"> San Fransisco </a> </li>
        <li> <a href="/humidity/Washington DC"> Washington DC </a> </li>
    </ol>

    <br>
    Click <a href="/">here</a> to return.

</body>
</html>