<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h1>
        Welcome to Chao's final project!
    </h1>
    <p>
        There are several functions available for users:
    </p>
    <ul>
        <li> <a href="temperature"> Temperature Forecast</a></li>
        <li> <a href="daytime"> Daytime Forecast</a></li>
        <li> <a href="humidity"> Humidity Forecast</a></li>
        <li> <a href="recommendation"> Travel Recommendations</a></li>
    </ul>
</body>
</html>